body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite
}

svg {
    background-color:aquamarine

}

#tooltip{
    visibility: visible;
    width: auto;
    height: auto;
}